<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="default">
    <!--注入方法的学习-->

    <!--属性注入-->
    <bean id="user" class="party.infoo.spring.DI.entity.User">
        <property name="userId" value="1"/>
        <property name="userName" value="王五"/>
        <property name="userPass" value="123456"/>
        <property name="userAge" value="20"/>
    </bean>
    <!--构造函数 类型 注入-->
    <bean id="user2" class="party.infoo.spring.DI.entity.User">
        <constructor-arg type="long" value="1"></constructor-arg>
        <constructor-arg type="java.lang.String" value="WangmingType"></constructor-arg>
        <constructor-arg type="java.lang.String" value="123456"></constructor-arg>
        <constructor-arg type="int" value="20"></constructor-arg>
    </bean>
    <!--构造函数 索引 注入-->
    <bean id="user3" class="party.infoo.spring.DI.entity.User">
        <constructor-arg index="0" value="1"></constructor-arg>
        <constructor-arg index="1" value="WangmingIndex"></constructor-arg>
        <constructor-arg index="2" value="123456"></constructor-arg>
        <constructor-arg index="3" value="20"></constructor-arg>
    </bean>
    <!--构造函数 索引类型联合 注入-->
    <bean id="user4" class="party.infoo.spring.DI.entity.User">
        <constructor-arg index="0" type="long" value="1"></constructor-arg>
        <constructor-arg index="1" type="java.lang.String" value="WangmingIndexAndType"></constructor-arg>
        <constructor-arg index="2" type="java.lang.String" value="123456"></constructor-arg>
        <constructor-arg index="3" type="int" value="20"></constructor-arg>
    </bean>

    <!--工厂注入 非静态方法-->
    <bean id="userFactory" class="party.infoo.spring.DI.factory.UserFactory"></bean>
    <bean id="user5" factory-bean="userFactory" factory-method="createUser"></bean>

    <!--工厂注入 静态方法-->
    <bean id="user6" class="party.infoo.spring.DI.factory.UserFactory" factory-method="createUserStatic"></bean>


    <!--基本类型注入-->
    <bean id="tiger" class="party.infoo.spring.DI.entity.Tiger">
        <property name="name" value="Tiger_AA"/>
        <property name="age" value="3"/>
    </bean>


    <bean id="cat" class="party.infoo.spring.DI.entity.Cat">
        <property name="name" value="Cat_AA"/>
        <property name="age" value="2"/>
    </bean>


    <bean id="dog" class="party.infoo.spring.DI.entity.Dog" scope="prototype">
        <property name="name" value="Dod_AA"/>
        <property name="age" value="5"/>
    </bean>


    <bean id="dog1" class="party.infoo.spring.DI.entity.Dog">
        <property name="name" value="Dod_CC"/>
        <property name="age" value="5"/>
    </bean>


    <bean id="panda" class="party.infoo.spring.DI.entity.Panda">
        <property name="name" value="Panda_A"/>
        <property name="age" value="3"/>
    </bean>


    <!--参数注入方法介绍-->
    <bean id="people" class="party.infoo.spring.DI.entity.People">
        <!--基本类型注入-->
        <property name="name" value="People_AA"/>

        <!--bean注入-->
        <property name="dog" ref="dog"/>

        <!--级联属性注入《要求已经new过的》-->
        <property name="cat.name" value="Cat_BB"/>

        <!--内部bean注入-->
        <property name="tiger">
            <bean class="party.infoo.spring.DI.entity.Tiger">
                <property name="name" value="Tiger_BB"/>
                <property name="age" value="10"/>
            </bean>
        </property>

        <!--null值注入-->
        <property name="panda">
            <null></null>
        </property>

        <!--list-->
        <property name="books">
            <list>
                <value>JAVA</value>
                <value>ENGLISH</value>
            </list>
        </property>

        <!--set-->
        <property name="hobbies">
            <set>
                <value>唱歌</value>
                <value>玩游戏</value>
            </set>
        </property>

        <!--map-->
        <property name="works">
            <map>
                <entry>
                    <key>
                        <value>星期四</value>
                    </key>
                    <value>上班</value>
                </entry>
                <entry>
                    <key>
                        <value>星期五</value>
                    </key>
                    <value>放假</value>
                </entry>
            </map>
        </property>
        <!--proeperty-->
        <property name="address">
            <props>
                <prop key="addres1">AAAAAAAAAA</prop>
                <prop key="addres2">BBBBBBBBBB</prop>
            </props>
        </property>
    </bean>


    <bean id="people2" class="party.infoo.spring.DI.entity.People">
        <!--基本类型注入-->
        <property name="name" value="People_AA"/>

        <!--bean注入-->
        <!--测试   default-autowire   -->
        <!--<property name="dog" ref="dog"/>-->

        <!--级联属性注入《要求已经new过的》-->
        <property name="cat.name" value="Cat_BB"/>

        <!--内部bean注入-->
        <property name="tiger">
            <bean class="party.infoo.spring.DI.entity.Tiger">
                <property name="name" value="Tiger_BB"/>
                <property name="age" value="10"/>
            </bean>
        </property>

        <!--null值注入-->
        <property name="panda">
            <null></null>
        </property>

        <!--list-->
        <property name="books">
            <list>
                <value>JAVA</value>
                <value>ENGLISH</value>
            </list>
        </property>
        <!--set-->
        <property name="hobbies">
            <set>
                <value>唱歌</value>
                <value>玩游戏</value>
            </set>
        </property>
        <!--map-->
        <property name="works">
            <map>
                <entry>
                    <key>
                        <value>星期四</value>
                    </key>
                    <value>上班</value>
                </entry>
                <entry>
                    <key>
                        <value>星期五</value>
                    </key>
                    <value>放假</value>
                </entry>
            </map>
        </property>
        <!--proeperty-->
        <property name="address">
            <props>
                <prop key="addres1">AAAAAAAAAA</prop>
                <prop key="addres2">BBBBBBBBBB</prop>
            </props>
        </property>
    </bean>

</beans>